body{
  background-image: linear-gradient(
      to bottom right,
      rgb(89, 115, 245),
      rgb(176, 110, 252)
    ) ; 
  font-family: sans-serif;
    text-align: center;
    height: 100vh;
  
}
input{
    display: block;
  margin: auto;
    margin-bottom: 15px;
    border: 5px solid rgb(76, 24, 134);
    background-color: black;
    color: white;
}
h1{
  color: white;
}

#calcular{
  color: white;
  background-color: blueviolet;
}
form{
  border: 10px solid rgb(60, 76, 160);
  width: 250px;
  margin: auto;
}